.toggle__line {
    transition: background-color 0.3s;
}

.toggle__dot {
    transition: transform 0.3s;
    top: 0.125rem;
    /* Centers the dot vertically within the line */
}

input:checked+.toggle__line {
    background-color: #4a5568;
}

input:checked+.toggle__line+.toggle__dot {
    transform: translateX(1.5rem);
    /* Adjust this value to match the width of the line */
}